body, html {
    width: 100%;
    margin: 0 auto;  
    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif, monospace;
}
* {
    box-sizing: border-box;
}
.page-header {
    position: fixed;
    width: 20%;
    padding-left: 2%;
}

/* MENU STYLES */
.page-menu {
  
}
.page-menu__items {
    list-style-type: none;
    padding-left: 0px;
}
.page-menu__item {
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 6.7px;
}
.page-menu__link {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: rgba(239, 0, 142, 0.7);
    cursor: pointer;
    transition: color 1s;
}
.page-menu__link:hover {
    color: rgba(239, 0, 142, 1);
}
.page-menu__link:focus {
    color: rgba(239, 0, 142, 1);
    outline: none;
}

.page-content {
    width: 80%;
    margin-left: 20%;
}
.content-section {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2%;
    text-align: right;
}
.content-section__header {
    text-transform: uppercase;
    color: #EF008E;
    font-weight: bold;
    padding-bottom: 2.5%;
    font-size: 28px;
    letter-spacing: 4.5px;
}

.button {
    background-color: rgba(204, 200, 255, 0.1);
    color:  rgba(204, 200, 255, 0.8);
    border: none;
    border-radius: 2px;
    padding: 8px;
    font-size: 12px;
    letter-spacing: 1.6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s, border 0.5s;
}
.button:hover,
.button:active {
    background-color: rgba(204, 200, 255, 0.5);
}
.button:focus {
    background-color: rgba(204, 200, 255, 0.3);
    border: 1px solid #CCC8FF;
    outline: none;
}
.button:disabled {
    color:#CCC8FF;
    opacity: 0.1;
}

/* HOME STYLES */
.band-members {
    list-style-type: none;
    margin-top: 30vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
.band-members__item {
    text-align: left;
    color: #CCC8FF;
    height: 100%;
    padding-bottom: 20px;
}
.band-members__name {
    opacity: 0;
    font-weight: bold;
    letter-spacing: 3.5px;
    color: #CCC8FF;
    padding: 0;
    margin: 0;
    transition: opacity 0.5s;
}
.band-members__desc {
    opacity: 0;
    padding-top: 3%;
    margin: 0;
    color: rgba(204, 200, 255, 0.5);
    transition: opacity 0.5s;
}
.band-members__image {
    opacity: 0.4;
    transition: opacity 0.5s;
}
.band-members__item:hover .band-members__desc,
.band-members__item:hover .band-members__name,
.band-members__item:hover .band-members__image {
    opacity: 1;
}

/* ABOUT STYLES */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: -25vh;
}
.about-section__desc {
    display: block;
    width: 340px;
    position: relative;
    text-align: left;
    color: rgba(204, 200, 255, 0.5);
    background-color: #25072E;
    padding: 2.5% 3%;
    bottom: 25vh;
    right: 48vw;
    border-bottom: 3px #EC008C solid;
    font-size: 13px;
    letter-spacing: 1.5px;
}
.about-section__desc-header {
    color: #CCC8FF;
    font-size: 13px;
    letter-spacing: 3.5px;
}
.about-section__desc-content {
    padding: 5% 0%;
}
.about-section__image {
    border-top: 3px #EF008E solid;
    max-width: 55vw;
}

/* CONCERTS STYLES */
.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 18%;
}
.concerts__item {
    width: 50%;
    min-width: 242px;
    padding-bottom: 20px;
    padding-left: 35px;
}
.concerts__image {
    width: 100%;
    border-bottom: 3px #EC008C solid;
}
.concerts__info {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    height: 50px;
    width: 100%;
    text-align: left;
}
.concerts__time {
    width: 60%;
    color: #DBD8FB;
    letter-spacing: 1.5px;
    font-weight: bold;
}
.concerts__location {
    width: 60%;
    color: rgba(204, 200, 255, 0.5);
    font-size: 13px;
    letter-spacing: 3.5px;
    padding-top: 2px;
}
.concerts__button-wrapper {
    width: 40%;
    text-align: right;
}

/* VIDEO STYLES */
.video {
    width: 100%;
}
.video iframe {
    width: 85%;
    height: 70vh;
}

/* GALLERY STYLES */
.gallery {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 8%;
}
.gallery__item {
    box-sizing: border-box;
    width: 33.33%;
    min-width: 227px;
    padding: 4px 7px;
    transition: all 0.6s;
}
.gallery__image {
    width: 100%;
    border-top: 3px #EF008E solid;
}
.gallery__item:hover {
    transform: scale(1.08);
}

.contact-section__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
}
.contact-section__address {
    width: 50%;
    text-align: left;
    padding-left: 6%;
    font-style: normal;
    color: rgba(204, 200, 255, 0.8);
    font-size: 13px;
    letter-spacing: 1.5px;
}
.contact-section__image {
    width: 50%;
}

.form {
    width: 300px;
    text-align: left;
    margin-top: 2%; 
}
.form__field {
    display: flex;
    flex-flow: row wrap;
    padding-top: 5%; 
}
.form__label {
    width: 100%;
    padding-bottom: 2%;
    color: rgba(204, 200, 255, 0.5);
}
.form__input {
    width: 100%;
    height: 38px;
    background-color: rgba(204, 200, 255, 0.1);
    border: none;
    border-radius: 5px;
}
/* FOOTER STYLES */
.page-footer {
    position: fixed;
    width: 20%;
    padding-left: 2%;
    bottom: 0;
}
.social-media-links {
    list-style-type: none;
    padding-left: 0px;
}
.social-media-links__image {
    width: 25px;
    opacity: 0.8;
    transition: all 1s;
}

.social-media-links__image:hover {
    opacity: 1;
}
.social-media-links__image:active {
    opacity: 0.6;
}
.social-media-links__image:focus {
    opacity: 1;
}
.social-media-links__image:disabled {
    opacity: 0.4;
}

/* TABLETS */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .about-section__desc {
        width: 300px;
        bottom: 20vh;
    }
    .concerts {
        margin-left: 0;
    }
    .gallery {
        justify-content: center;
    }
    .gallery__item {
        width: 50%;
    }
}

/* SMARTPHONES */
@media only screen and (max-width : 768px) {
    .page-header {
        position: relative;
        width: 100%;
        text-align: center;
    }
    .page-content {
        width: 100%;
        margin: 0 auto;
    }
    .content-section {
        padding: 2% 3%;
        min-height: 0;
    }
    
    .about-section {
        margin: 0 auto;
    }
    .about-section__image {
        max-width: 100%;
    }
    .about-section__desc {
        margin-top: 15px;
        position: static;
        width: 100%;
        padding: 2.5% 3%;
    }

    .band-members {
        margin-top: 5vh;
    }

    .concerts {
        margin: 0 auto;
    }
    .concerts__item {
        width: 100%;
        padding-left: 0;
    }
    .video iframe {
        width: 100%;
        height: 40vh;
    }
    .gallery {
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    .gallery__item {
        width: 50%;
    }
    .contact-section__address {
        width: 100%;
        padding: 4% 0 1% 0;
    }

    .contact-section__container {
        margin: 0 auto;
    }
    .contact-section__image {
        width: 100%;
    }

    .page-footer {
        width: 100%;
        position: relative;
        margin: 60px 0 30px 0;
    }
    .social-media-links {
        display: flex;
        justify-content: center;
    }
    .social-media-links__item {
        margin: 0 20px;
    }
    .social-media-links__image {
        width: 32px;
    }
}

@media only screen and (max-width : 532px) {
    .gallery__item {
        width: 100%;
    }
}